node_modules
.env
.env.*
prisma.config.ts
*.toml
uploads
*.log
coverage
*.sql
*.jpg
settings.json
import-data.js
*.rest
*-v2.js
serviceAccount-Firebase-*.json
*-data.json
*.txt
!runtime.txt
!requirements.txt